body,figure {
    margin: 0;
}
.container {
    max-width: 1080px;
    margin:0 auto;
}

/* intestazione*/
#main-header{
    height: 100px;
    background-color: rgb(78, 160, 255);
    background-image: url(img/pattern.png);
    background-size: 30%;
    
}
.container{
    max-width: 920px;
    margin: 0 auto;
}
#logo {
    height: 50px;
    width: auto;
    margin-top: 25px;
}



